body{margin:0;font-family:tahoma,sans-serif;background:#0d1117;color:white;text-align:center;}
.hidden{display:none;}
button{padding:10px 15px;margin:5px;cursor:pointer;border:none;border-radius:5px;background:#0f172a;color:white;}
input{padding:5px;margin:5px;border-radius:5px;border:none;}
.backBtn{position:absolute;top:10px;right:10px;background:#f00;}
#playersList{margin-top:10px;}
.player{margin:5px 0;padding:5px;border-radius:5px;}
canvas{border:1px solid white;margin-top:10px;background:#111;}
